<div class="row">
  <div class="col-xs-12">
    <h1>{{ operator.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Operator <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Publish plan</a></li> -->
        <li><a style="cursor: pointer;" (click)="onEditOperator()">Edit Operator</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteOperator()">Delete Operator</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row" style="padding-top:10px;">
  <div class="col-xs-12">
    <span class="h4">Number Prefix --></span> &nbsp;
    <span class="h4">Cost</span>
  </div>
  <div class="col-xs-12" style="padding-top:10px;">

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let plan of operator.plans">
        {{ plan.prefix }} -->&nbsp;{{ plan.amount }}
      </li>
    </ul>
  </div>
</div>
